argcomplete==3.7.0
attrs==26.1.0
Brlapi==0.8.8
btrfsutil==7.1
cffi==2.1.0
cryptography==49.0.0
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.4.3
filelock==3.29.3
louis==3.38.0
netsnmp-python==1.0a1
nftables==0.1
packaging==26.2
platformdirs==4.10.1
psutil==7.2.2
pwquality==1.4.5
pycairo==1.29.0
pycparser==3.0
PyGObject==3.56.3
python-discovery==1.4.4
pyxdg==0.28
setproctitle==1.3.7
TBB @ file:///build/onetbb/src/build/python/python_build
typing_extensions==4.16.0
VapourSynth==77
virtualenv==21.6.1
wheel==0.47.0
